.actors {
    background-color: $main_bg_color;
    color: $main_text_color;
    padding-top: 60px;
    &__upLine {
        height: 40px;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        .divider {
            @include divider;
            position: absolute;
            left: -14px;
            top: 34px;
        }
        &__h2 {
            font-family: 'Mulish-Medium';
            position: absolute;
            left: 20px;
            top: 25px;
            img {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 7px;
                right: -30px;
            }
        }
    }
    &__choice {
        margin-top: 90px;
        text-align: center;
        ul {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px;
            margin-left: -40px;
        }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: $main_text_color;
        }
    }

}