.trend {
    background-color: $main_bg_color;
    color: $main_text_color;
    padding-top: 60px;
    &__upLine {
        height: 40px;
        position: relative;
        // display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        margin-top: 60px;
        .divider {
            position: absolute;
            left: -14px;
            top: 34px;
            @include divider;
        }
        &__h2 {
            font-family: 'Mulish-Medium';
            position: absolute;
            left: 20px;
            top: 20px;
        }
        &__forward {
            position: absolute;
            width: 20px;
            height: 20px;
            right: -30px;
            top: 7px;
        }
    }
    &__block {
        margin-top: 60px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__poster {
        margin-top: 40px;
        ul {
            gap: 40px;
            margin-left: -40px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
        li {
            
            margin-top: 40px;
            list-style-type: none;
            
        }
        img {
            width: 100%;
            border-radius: 25px;
            &:hover {
                filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
            }
        }
        
    }
    &__btn {
        margin-top: 55px;
        color: $main_text_color;
        @include rounded_btn;
        border: none;
        cursor: pointer;
    }
}